/* GENERALS */
html {
  height: 100%;
  font-size: 16px;
}
body {
  font: normal normal normal 14px/1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height: 100%;
}

input {
    text-align: center;
  }

.page-title {
    color: #FAFAFA;
    font-size: 1.5em;
    letter-spacing: 2px;
  }

.page-text {
    color: #FAFAFA;
    font-size: 1.4em;
  }

.page-title-2 {
    color: #000;
    font-size: 1.5em;
    letter-spacing: 2px;
  }

.page-text-2 {
    color: #000;
    font-size: 1.2em;
  }

.service-text {
    color: #FAFAFA;
    font-size: 1.15em;
    letter-spacing: 1.5px;
  }

.btn-hm {
      border: 2px solid #000;
      border-radius: 3px;
      margin-top: 2.5em;
      margin-left: 50%;
      transform: translate(-50%, 0);
  }

.btn-hm-2 {
      border: 1.5px solid #fafafa;
      border-radius: 3px;
      margin-left: 5em;
  }

/* Colors */
.hm_primary-color {
      background-color: #380000;
  }


/* End of GENERALS */

/* Styles for NAVBAR section */
.hm_navbar {
      padding-left: 50%;
      padding-top: 1.4em;
      padding-bottom: 1.4em;
  }

.hm_navbar-list {
      transform: translate(-50%, 0);
  }

.hm_navbar-item {
      margin-left: 1.1em;
      margin-right: 1.1em;
  }
/* End of NAVBAR styling */

/* Help Container */
.help-container {
      width: 100%;
      height: 5.1em;
      background-color: transparent;
  }

/* Styles for CONTENT section */
/* Content Section General Style */
.text {
      height: auto;
      background-color: #600505;
      text-align: center;
  }

.img {
  width: 70%;
  height: 95%;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

  /* Home Section */
.text_home-section {
      height: auto;
  }

.box_home-logo {
      display: inline-block;
      width: 30%;
      margin-top: 1.1em;
      margin-bottom: 1.1em;
      padding: 0.4em;
      border: 2px solid #ba771f;
  }

.home_logo {
      display: block;
      color: #fafafa;
  }

.logo-main {
      margin-bottom: 0.3em;
      text-transform: uppercase;
      font-size: 30px;
      letter-spacing: 8px;
      font-family: 'Kaushan Script', cursive;
      font-weight: 400;
  }

.logo-sec {
      font-size: 19px;
      font-family: 'Kaushan Script', cursive;
      letter-spacing: 3px;
  }

.box_home-linea {
      display: inline-block;
      width: 34%;
      margin-bottom: 2em;
      padding: 0.2em;
      border-top: 2px solid #ba771f;
      border-bottom: 2px solid #ba771f;
  }

.home_img {
      background-image: url(../images/imagen-gall-1.jpg);
      opacity: 0.85;
  }

/* About Section */
.text_about-section {
      padding-top: 8em;
      height: auto;
  }

.about-container {
      width: 50%;
      height: auto;
      padding-bottom: 8em;
      margin-left: 50%;
      transform: translate(-50%, 0);
  }

/* Rooms Section */
.rooms_img {
      background-image: url(../images/imagen-2.jpg);
      opacity: 0.85;
      padding-top: 7em;
  }

.img-rooms_inside-container {
      width: 40%;
      height: auto;
      background-color: #fff;
      margin-left: 50%;
      transform: translate(-50%, 0);
      z-index: 100;
  }

.rooms-container {
      padding: 1em;
  }

.rooms-container > p {
      color: #000;
      font-family: 'Varela Round', sans-serif;
      font-size: 18px;
  }

/* Services Section */
.services-main {
      padding-top: 3em;
  }

.services-gral {
      padding-bottom: 3em;
  }

/* Gallery Section */
.gallery-section {
  width: 100%;
  margin: auto;
  list-style: none;
  padding: 1em;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modal {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  padding-top: 15px;
  width: 100%;
  height: 100%;
}

.imagen {
  width: 100%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen div {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  margin: 0 10px;
}

.imagen div:hover {
  cursor: pointer;
}

.imagen a {
  margin: 0;
  height: 100%;
  flex-shrink: 2;
}

.imagen img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border: 2px solid #fff;
  box-sizing: border-box;
}

/* Contact Section */
.contact-section {
      width: 85%;
      height: auto;
      margin-top: 2.5em;
      margin-left: 50%;
      padding: 1.2em;
      transform: translate(-50%, 0);
      border: 3px solid #600505;
      border-radius: 6px;
  }

/* Map Section */
.container-map {
    width: 100%;
    height: auto;
    padding-top: 3em;
    padding-bottom: 3em;
  }

.container-map > div {
    width: 1000px;
    height: 500px;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }

.container-map > div > iframe {
    width: 100%;
    height: 100%;
  }

/* End of CONTENT styling */

/* Styles for MESSENGER BUBBLE */
.back_msng-bubble {
    position: fixed;
    width: 70px;
    height: 65px;
    border-radius: 50%;
    background-color: #380000;

    left: 50px;
    bottom: 10px;
    align-items: center;
  }

.msng-bubble {
    position: relative;
    left: 17px;
    bottom: -11px;
    font-size: 42px;
    color: #fff;
  }

/* End of MESSENGER BUBBLE styling */

/* Styles for REDES SOCIALES */
.box_redes {
    position: fixed;
    width: auto;
    height: auto;
    border-radius: 3px;
    background-color: #380000;
    padding-right: 12px;
    right: 0px;
    top: 50%;
    transform: translate(0, -50%);
    align-items: center;
    z-index: 1500;
  }

.red-facebook {
    position: relative;
    display: block;
    margin-top: 1em;
    margin-left: 50%;
    transform: translate(-50%, 0);
    font-size: 30px;
    color: #fff;
  }

.red-insta {
    position: relative;
    display: block;
    margin-top: 1em;
    margin-left: 50%;
    transform: translate(-50%, 0);
    font-size: 27px;
    color: #fff;
  }

.red-google {
    position: relative;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 50%;
    transform: translate(-50%, 0);
    font-size: 25px;
    color: #fff;
  }

/****************************************************************************************************************************************************/
/****************************************************************************************************************************************************/

/* Celulares Vertical y horizontal */
@media screen and (min-width: 200px) {
  /*Generales*/
  .img {
    width: 90%;
    height: 75%;
  }

  .page-title {
    font-size: 1.25rem;
  }

  .page-text {
    font-size: 1rem;
  }

  .page-title-2 {
    font-size: 1.25rem;
  }

  .page-text-2 {
    font-size: 0.875rem;
  }

  .btn-hm {
    margin-top: 1em;
  }

  .service-text {
    font-size: 0.9375rem;
  }

  /*Navbar*/
  .navbar {
    display: none;
  }

  /*Contenedor de apoyo*/
  .help-container {
    display: none;
  }

  /*Logo*/
  .box_home-linea {
    display: none;
  }

  .box_home-logo {
    width: 80%;
  }

  .logo-main {
    font-size: 0.875rem;
    letter-spacing: 5px;
  }

  .logo-sec {
    font-size: 1.0625rem;
  }

  /*About*/
  .text_about-section {
    padding-top: 3em;
  }

  .about-container {
    width: 85%;
    padding-bottom: 3em;
    text-align: left;
  }

  /*Rooms*/
  .rooms_img {
    padding-top: 0;
  }

  .img-rooms_inside-container {
    width: 100%;
    height: 100%;
  }

  .rooms-container > p {
    font-size: 0.9375rem;
  }

  /*Services*/
  .services-gral {
    padding-bottom: 1em;
  }

  /*Gallery*/
  .gallery_main {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .slider {
    width: 95%;
  }

  /*Contact*/
  .contact-section {
    width: 95%;
  }

  /*Map*/
  .container-map > div {
    width: 95%;
    height: 400px;
  }

  /*Messenger*/
  .title_msng-bubble {
    position: fixed;
    width: 30px;
    left: 46px;
    bottom: 45px;

    color: #fff;
    font-size: 13px;
  }

  .back_msng-bubble {
    width: 65px;
    height: 60px;
    left: 30px;
  }

  .msng-bubble {
    left: 18px;
    bottom: -25px;
    font-size: 1.88rem;
  }

  /*Redes sociales*/
  .red-facebook {
    margin-top: 1em;
    font-size: 1.5625rem;
  }

  .red-insta {
    margin-top: 1em;
    font-size: 1.375rem;
  }

  .red-google {
    margin-top: 1.2em;
    margin-bottom: 1em;
    font-size: 1.25rem;
  }

  /*Footer*/
  .col-cel {
    display: none;
  }

  .container-logo-ambotics {
    width: auto;
    height: auto;
    padding-top: 6em;
    padding-left: 7.8em;
  }

  .logo-ambotics {
    width: 100px;
    height: 100px;
  }
}

/****************************************************************************************************************************************************/
/****************************************************************************************************************************************************/

/* Tableta Vertical y Horizontal */
@media screen and (min-width: 480px) {
  .container-logo-ambotics {
    margin-left: 5.5em;
  }
}

@media screen and (min-width: 480px) and (min-height: 600px) {
  /*Rooms*/
  .img-rooms_inside-container {
    width: 100%;
    height: 100%%;
    padding-top: 4em;
  }

  .rooms-container > p {
    font-size: 1.1rem;
  }

  .btn-hm {
    margin-top: 4em;
  }
}

@media screen and (min-width: 600px) and (min-height: 480px) {
  /*Generales*/
  .page-title {
    font-size: 1.45rem;
  }

  .page-text {
    font-size: 1.1rem;
  }

  .page-title-2 {
    font-size: 1.45rem;
  }

  .page-text-2 {
    font-size: 1.075rem;
  }

  .btn-hm {
    margin-top: 3em;
  }

  /*Logo*/
  .box_home-logo {
    width: 55%;
  }

  .logo-main {
    font-size: 1.05rem;
    letter-spacing: 5px;
  }

  .logo-sec {
    font-size: 1.25rem;
  }

  /*Rooms*/
  .img-rooms_inside-container {
    width: 100%;
    height: 100%%;
    padding-top: 2.5em;
  }

  .rooms-container > p {
    font-size: 1.1rem;
  }

  /*Messenger*/
  .title_msng-bubble {
    left: 68px;
    bottom: 53px;
  }

  .back_msng-bubble {
    width: 70px;
    height: 65px;
    left: 50px;
    bottom: 10px;
  }

  .msng-bubble {
    left: 17px;
    bottom: -19px;
    font-size: 38px;
  }

  /*Redes sociales*/
  .red-facebook {
    font-size: 30px;
  }

  .red-insta {
    font-size: 27px;
  }

  .red-google {
    font-size: 25px;
  }

  .container-logo-ambotics {
    margin-left: 7.6em;
  }
}

/****************************************************************************************************************************************************/
/****************************************************************************************************************************************************/

/* Pantallas Grandes Vertical y horizontal */
@media screen and (min-width: 600px) and (min-height: 800px) {
  /*Rooms*/
  .img-rooms_inside-container {
    width: 100%;
    height: 100%;
    padding-top: 7em;
  }

  .rooms-container > p {
    font-size: 1.4rem;
  }

  .btn-hm {
    margin-top: 4em;
  }
}

@media screen and (min-width: 800px) and (min-height: 600px) {
  /*Rooms*/
  .img-rooms_inside-container {
    width: 50%;
    height: 100%;
    padding-top: 4em;
  }

  .rooms-container > p {
    font-size: 1.1rem;
  }

  .btn-hm {
    margin-top: 3em;
  }

  .container-logo-ambotics {
    margin-left: 10em;
  }
}

/****************************************************************************************************************************************************/
/****************************************************************************************************************************************************/

/* Laptops y superiores */
@media screen and (min-width: 900px) and (min-height: 600px) {
  .page-title {
    font-size: 1.5em;
  }

  .page-text {
    font-size: 1.4em;
  }

  .page-title-2 {
    font-size: 1.5em;
  }

  .page-text-2 {
    font-size: 1.2em;
  }

  .service-text {
    font-size: 1.15em;
  }

  /*Logo*/
  .box_home-logo {
    width: 30%;
  }

  .logo-main {
    font-size: 15px;
  }

  .logo-sec {
    font-size: 35px;
    font-weight: 400;
  }

  .box_home-linea {
    display: inline-block;
  }

  /*About*/
  .text_about-section {
    padding-top: 8em;
  }

  .about-container {
    width: 50%;
    padding-bottom: 8em;
  }

  /*Rooms*/
  .img-rooms_inside-container {
    width: 40%;
  }

  .rooms-container > p {
    font-size: 20px;
  }

  .btn-hm {
    margin-top: 4em;
  }

  /*Gallery*/
  .gallery_main {
    margin-top: 3.5em;
    margin-bottom: 3em;
  }

  .slider {
    width: 55%;
  }
}

@media screen and (min-width: 1100px) {
  /*Navbar*/
  .navbar {
    display: block;
  }

  /*Contact form*/
  .li-lg {
    width: 30%;
    display: inline-block;
  }

  /*Help Container*/
  .help-container {
    display: block;
  }

  .container-logo-ambotics {
    margin-left: 0em;
  }
}
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
