/* GENERALS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  font: normal normal normal 14px/1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height: 100%;
}

img {
  cursor: pointer;
}

/* End of GENERALS styles */

/* NAVBAR styles */
.navbar {
  width: 100%;
  height: auto;
  background-color: #380000;
  z-index: 100;
}

.navbar-list {
  display: inline-block;
  width: auto;
  list-style: none;
  margin-left: 0;
  background-color: transparent;
}

.navbar-item {
  display: block;
  margin: 1em 0 0 0;
  font-family: 'Varela Round', sans-serif;
  font-size: 0.95rem;
  background-color: transparent;
  text-transform: uppercase;
}

.navbar-link {
  display: none;
  text-decoration: none;
  color: #fff;
}

.navbar-link-cel {
  display: block;
  font-size: 0.75rem;
  text-decoration: none;
  color: #fff;
}

.navbar-link:hover {
  color: #b0b4ba;
}

.navbar-link-cel:hover {
  color: #b0b4ba;
}

/* End of NAVBAR styling */

/* CONTAINER-ROOMS  styles */
.container-rooms {
  position: absolute;
  width: 100%;
  height: auto;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  background-color: transparent;
}

  /*General Style*/
.rooms-general {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  background-color: transparent;
  border-bottom: 0.2px solid #b0b4ba;
}

    /*Information Part*/
.room-info {
  position: relative;
  display: inline-block;
  height: auto;
  margin-bottom: 0.05em;
  background-color: transparent;
}

      /*Image Section*/
.info-img {
  width: 100%;
  height: auto;
}

.room-img {
  position: relative;
  width: 90%;
  height: 180px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 3px;
}

      /*Info Section*/
.info-main {
  width: 90%;
  height: auto;
  left: 50%;
  transform: translate(-50%, 0);

  color: #000;
  font-family: 'Varela Round', sans-serif;
}

        /*First Part*/
.first-part-info {
  position: relative;
  width: 100%;
  height: auto;
}

.first-part-info > span {
  display: block;
}

.ir_page-title {
  font-size: 1.125rem;
  margin-bottom: 0.5em;
}

.ir_page-text {
  font-size: 0.875rem;
  margin-bottom: 1em;
}

.main-list {
  font-size: 0.875rem;
  margin-left: 1em;
}

        /*Second Part*/
.second-part-info {
  position: relative;
  width: 90%;
  height: auto;
  text-align: center;
}

.services-list {
  list-style: none;
  font-size: 1.3rem;
  color: #9da0a5;
}

.services-item {
  display: inline-block;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

      /*Price Section*/
.info-price {
  width: 100%;
  height: auto;
}

        /*First Part*/
.part-price {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 3em;
  text-align: center;
  background-color: transparent;
}

.part-price > span {
  display: inline-block;
  color: #000;
  font-family: 'Varela Round', sans-serif;
}

.main-subtext-price {
  font-size: 2rem;
  margin-right: 0.5em;
}

.main-subtext-2-price {
  font-size: 1.5rem;
}

      /* Gallery Part */
.galeria {
  width: 100%;
  margin: auto;
  list-style: none;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.galeria img {
  width: 0;
  height: 0;
}

.modal {
  display: none;
}

.modal:target {
  display: block;
  position: fixed;
  background: rgba(0,0,0,0.95);
  top: 0;
  left: 0;
  padding-top: 100px;
  width: 100%;
  height: 100%;
}

.imagen {
  width: 100%;
  height: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen div {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  margin: 0 10px;
}

.imagen div:hover {
  cursor: pointer;
}

.imagen a {
  margin: 0;
  height: 100%;
  flex-shrink: 2;
}

.imagen img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border: 2px solid #fff;
  box-sizing: border-box;
}

.cerrar {
  display: block;
  width: 25px;
  height: 25px;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  padding: 0;
  border-radius: 50%;
  line-height: 25px;
}
/* End of CONTAINER-ROOMS  styles */

/*Help Container*/
.help-container {
  width: 100%;
  height:15em;
}

/* Pay Part Styling */
/*Parte de pagar*/
.form-number {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #b0b4ba;
}

.form-number > span {
  display: block;
  width: 90%;
  height: auto;
  padding-bottom: 0.4em;
  margin-bottom: 0.4em;
  margin-left: 50%;
  transform: translate(-50%, 0);

  color: #000;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
}

.box-number {
  width: 90%;
  height: auto;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.number-label {
  display: inline-block;
  width: 9%;
  height: auto;
  padding-bottom: 0.3em;
  margin-right: 1em;

  color: #000;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
}

.number-input {
  display: inline-block;
  width: 6%;
  height: 2.3em;
  padding-top: 0.7em;
  margin-right: 2.3em;

  background-color: rgba(82,82,82,0.5);
  border: 1.5px solid #000;
  border-radius: 3px;
  color: #000;
  font-family: 'Varela Round', sans-serif;
  font-size: 1rem;
}

.check-date {
  display: inline-block;
  width: 6%;
  height: 2.3em;
  padding-top: 0.7em;
  margin-right: 2.3em;

  background-color: rgba(82,82,82,0.5);
  border: 1.5px solid #000;
  border-radius: 3px;
  color: #000;
  font-family: 'Varela Round', sans-serif;
  font-size: 1rem;
}

/*Card Container*/
.container-card {
  width: 98%;
  height: auto;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.box-card {
  margin-bottom: 1em;
}

.card-label {
  position: relative;
  display: inline-block;
  width: 25%;
  height: auto;
  margin-right: 1em;
  margin-bottom: 0.7em;

  color: black;
  font-family: 'Varela Round', sans-serif;
  font-size: 0.9rem;
}

.card-element {
  position: absolute;
  display: inline-block;
  width: 45%;
  height: 2.3em;

  background-color: #fff;
  border: 0.5px solid #ccc;
  border-radius: 3px;
}

.card-input {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;

  background-color: #fff;
  border: none;
  border-radius: 3px;
  color: #444;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.05rem;
}

.pagar-btn {
  display: block;
  width: 20%;
  height: 2.7em;
  margin-bottom: 1em;
  margin-left: 50%;
  transform: translate(-50%, 0);

  background-color: #600505;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.05rem;
}

.pagar-btn:hover {
  background-color: #380000;
  padding-bottom: 0.1em;
}
/* End of Pay Part Styling */

/* Styles for MESSENGER BUBBLE */
.back_msng-bubble {
    position: fixed;
    width: 70px;
    height: 65px;
    border-radius: 50%;
    background-color: #380000;

    left: 50px;
    bottom: 10px;
    align-items: center;
  }

.msng-bubble {
    position: relative;
    left: 17px;
    bottom: -11px;
    font-size: 42px;
    color: #fff;
  }

/* End of MESSENGER BUBBLE styling */

/* Styles for REDES SOCIALES */
.box_redes {
    position: fixed;
    width: auto;
    height: auto;
    border-radius: 3px;
    background-color: #380000;
    padding-right: 12px;
    right: 0px;
    top: 50%;
    transform: translate(0, -50%);
    align-items: center;
  }

.red-facebook {
    position: relative;
    display: block;
    margin-top: 1em;
    margin-left: 50%;
    transform: translate(-50%, 0);
    font-size: 30px;
    color: #fff;
  }

.red-insta {
    position: relative;
    display: block;
    margin-top: 1em;
    margin-left: 50%;
    transform: translate(-50%, 0);
    font-size: 27px;
    color: #fff;
  }

.red-google {
    position: relative;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 50%;
    transform: translate(-50%, 0);
    font-size: 25px;
    color: #fff;
  }

/****************************************************************************************************************************************************/
/****************************************************************************************************************************************************/

@media screen and (min-width: 200px) {
  /*Imagen*/
  .room-img {
    width: 90%;
  }

  /*Información*/
  .info-main {
    width: 100%;
    padding-left: 1em;
    padding-top: 0.6em;
  }

  /*Precio*/
  .info-price {
    width: 100%;
  }

  .part-price {
    margin-top: 0;
  }

  .part-price > span {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .main-subtext-price {
    margin-bottom: 0.2em;
  }

  .add > input {
    display: block;
    width: 80%;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }

  /*Carrusel*/
  .modal:target {
    padding-top: 0;
  }

  .imagen div {
    font-size: 16px;
    margin: 0 5px;
  }

  .imagen a {
    width: 100%;
    height: 50%;
  }

  /*Pay Part*/
  .help-container {
    display: none;
  }

  .form-number {
    padding-top: 1em;
  }

  .number-label {
    width: 50%;
    font-size: 15px;
  }

  .number-input {
    width: 30%;
  }

  .check-date {
    padding-top: 0;
    padding-left: 5em;
    display: block;
    width: 100%;
  }

  .container-card {
    margin-top: 1em;
  }

  .box-card {
    margin-bottom: 3em;
  }

  .card-label {
    width: 100%;
  }

  .card-element {
    width: 100%;
    height: 2em;
  }

  .card-input {
    font-size: 15px;
  }

  .pagar-btn {
    width: 80%;
    margin-bottom: 4em;
  }

  /*Messenger*/
  .title_msng-bubble {
    position: fixed;
    width: 30px;
    left: 46px;
    bottom: 45px;

    color: #fff;
    font-size: 13px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
  }

  .back_msng-bubble {
    width: 65px;
    height: 60px;
    left: 30px;
  }

  .msng-bubble {
    left: 18px;
    bottom: -25px;
    font-size: 1.88rem;
  }

  /*Redes sociales*/
  .red-facebook {
    margin-top: 1em;
    font-size: 1.5625rem;
  }

  .red-insta {
    margin-top: 1em;
    font-size: 1.375rem;
  }

  .red-google {
    margin-top: 1.2em;
    margin-bottom: 1em;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 480px) {
  /*Imagen*/
  .room-img {
    width: 70%;
  }

  /*Carrusel*/
  .modal:target {
    padding-top: 0;
  }

  .imagen a {
    width: 70%;
    height: 70%;
  }

  .cerrar {
    margin-top: 0;
  }
}

/****************************************************************************************************************************************************/
/****************************************************************************************************************************************************/
@media screen and (min-width: 480px) and (min-height: 600px) {
  /*Carrusel*/
  .imagen a {
    width: 70%;
    height: 50%;
  }
}

@media screen and (min-width: 600px) {
  /*Imagen*/
  .room-img {
    width: 75%;
    height: 230px;
  }

  /*Pay Part*/
  .number-label {
    width: 20%;
  }

  .number-input {
    width: 15%;
  }

  .check-date {
    padding: 0;
    display: inline-block;
    width: 61.5%;
  }

  .box-card {
    margin-bottom: 4em;
  }

  .card-element {
    width: 100%;
    height: 2.3em;
  }

  .card-input {
    font-size: 1.05rem;
  }

  .pagar-btn {
    width: 80%;
    margin-bottom: 4em;
  }
}

/****************************************************************************************************************************************************/
/****************************************************************************************************************************************************/

/* Pantallas grandes Horizontal y Vertical */
@media screen and (min-width: 800px) {
  /*Navbar*/
  .navbar-list {
    margin-left: 2em;
  }

  .navbar-item {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .navbar-link {
    display: block;
    height: 0;
  }

  .navbar-link-cel {
    display: none;
  }

  /*Container room*/
  .rooms-general {
    width: 95%;
    height: 260px;
    margin-bottom: 1em;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .info-img {
    position: absolute;
    width: 35%;
  }

  .room-img {
    width: 100%;
  }

  .info-main {
    position: absolute;
    width: 37%;
    margin-top: 3%;
    margin-left: 3em;
  }

  .services-list {
    font-size: 1.5rem;
    border-top: 1px solid #b0b4ba;
  }

  .info-price {
    position: absolute;
    width: 30%;
    margin-top: 4em;
    left: 70%;
  }

  .part-price > span {
    font-size: 1.7rem;
    font-weight: 400;
  }

  /*Carrusel*/
  .modal:target {
    padding-top: 0;
  }

  .imagen a {
    height: 70%;
  }

  /*Pay Part*/
  .check-date {
    width: 58.5%;
  }

  .card-element {
    width: 82%;
  }

  .pagar-btn {
    width: 50%;
    margin-bottom: 3em;
  }
}

/****************************************************************************************************************************************************/
/****************************************************************************************************************************************************/

/* Pantallas grandes Horizontal y Vertical */
@media screen and (min-width: 1000px) {
  /*Navbar*/
  .navbar-list {
    margin-left: 3em;
  }

  .navbar-item {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  /*Container room*/
  .rooms-general {
    width: 75%;
  }

  .info-img {
    width: 33%;
  }

  .info-main {
    margin-top: 1%;
    margin-left: 3em;
  }

  .ir_page-title {
    font-size: 1.35rem;
  }

  .services-list {
    font-size: 1.8rem;
    padding-top: 0.3em;
  }

  .info-price {
    margin-top: 4em;
  }

  .part-price > span {
    font-size: 2rem;
  }

  /*Carrusel*/
  .modal:target {
    padding-top: 0;
  }

  .imagen div {
    margin: 0 20px;
  }

  .imagen a {
    width: 50%;
    height: 70%;
  }

  /*Pay Part*/
  .help-container {
    display: block;
  }

  .form-number {
    position: fixed;
    top: 0;
    padding-top: 0.5em;
  }

  .form-number > span {
    padding-bottom: 0;
    width: 98%;
  }

  .box-number {
    width: 98%;
  }

  .number-label {
    width: 6%;
    font-size: 15px;
    margin-right: 1em;
  }

  .number-input {
    width: 6%;
    margin-right: 1em;
  }

  .check-date {
    width: 9%;
    margin-right: 1em;
  }

  .box-card {
    margin-bottom: 1em;
  }

  .card-label {
    width: 25%;
  }

  .card-element {
    width: 40%;
    height: 2em;
  }

  .card-input {
    font-size: 15px;
  }

  .pagar-btn {
    width: 20%;
    margin-bottom: 1em;
  }
}
