/* GENERALS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  font: normal normal normal 14px/1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height: 100%;
}

img {
  cursor: pointer;
}

/* End of GENERALS styles */

/* NAVBAR styles */
.navbar {
  width: 100%;
  height: auto;
  background-color: #380000;
  z-index: 100;
}

.navbar-list {
  display: inline-block;
  width: auto;
  list-style: none;
  margin-left: 0;
  background-color: transparent;
}

.navbar-item {
  display: block;
  margin: 1em 0 0 0;
  font-family: 'Varela Round', sans-serif;
  font-size: 0.95rem;
  background-color: transparent;
  text-transform: uppercase;
}

.navbar-link {
  display: none;
  text-decoration: none;
  color: #fff;
}

.navbar-link-cel {
  display: block;
  font-size: 0.75rem;
  text-decoration: none;
  color: #fff;
}

.navbar-link:hover {
  color: #b0b4ba;
}

.navbar-link-cel:hover {
  color: #b0b4ba;
}

/* End of NAVBAR styling */

/* CONTAINER-DATEPICKER styles */
.container-reservar {
  width: 100%;
  height: auto;
  background-color: transparent;
}

.box-text-main {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0.5em 0em 0.3em 1em;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: transparent;
  border-bottom: 0.2px solid #b0b4ba;
}

.box-text-main > span {
  color: #000;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.125rem;
  font-weight: 200;
  text-transform: capitalize;
}

.box-datepicker {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: transparent;
  border-bottom: 0.2px solid #b0b4ba;
}

.datepicker-general {
  display: inline-block;
  width: 48%;
  height: auto;
  padding-left: 0.5em;
  margin-bottom: 1.2em;
  background-color: transparent;
}

.datepicker-general > span {
  display: block;
  color: #000;
  font-family: 'Varela Round', sans-serif;
  font-size: 0.875rem;
}

.check-date {
  width: 94%;
  height: 45px;
  padding-left: 0.2em;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
  
  color: #000;
  font-size: 0.95rem;
  font-family: 'Varela Round', sans-serif;
}

.datepicker-counter {
  width: 100%;
  margin-top: 0.8em;
}

.box-counter {
  display: inline-block;
  width: auto;
  height: auto;
  margin-right: 0.5em;
}

.box-counter > span {
  color: #000;
  font-family: 'Varela Round', sans-serif;
  font-size: 0.85rem;
}

.click {
  margin-left: 0.3em;
}

.datepicker-btn {
  border: none;
  width: 100%;
  margin-bottom: 0;
}

.datepicker-btn > input {
  width: 60%;
  height: 100%;
  padding: 0.6em 0;
  margin: 0.5em 0 0.5em 50%;
  transform: translate(-50%, 0);
  background-color: #b0b4ba;
  border: 0;
  border-radius: 3px;
  
  color: #222;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
}

.datepicker-btn > input:hover {
  background-color: #600505;
  color: #fff;
}

/* End of CONTAINER-DATEPICKER styles */

/* CONTAINER-ROOMS  styles */
.container-rooms {
  position: absolute;
  width: 100%;
  height: auto;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  background-color: transparent;
}

  /*General Style*/
.rooms-general {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  background-color: transparent;
  border-bottom: 0.2px solid #b0b4ba;
}

    /*Information Part*/
.room-info {
  position: relative;
  display: inline-block;
  height: auto;
  margin-bottom: 0.05em;
  background-color: transparent;
}

      /*Image Section*/
.info-img {
  width: 100%;
  height: auto;
}

.room-img {
  position: relative;
  width: 90%;
  height: 180px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 3px;
}

      /*Info Section*/
.info-main {
  width: 90%;
  height: auto;
  left: 50%;
  transform: translate(-50%, 0);
  
  color: #000;
  font-family: 'Varela Round', sans-serif;
}

        /*First Part*/
.first-part-info {
  position: relative;
  width: 100%;
  height: auto;
}

.first-part-info > span {
  display: block;
}

.ir_page-title {
  font-size: 1.125rem;
  margin-bottom: 0.5em;
}

.ir_page-text {
  font-size: 0.875rem;
  margin-bottom: 1em;
}

.main-list {
  font-size: 0.875rem;
  margin-left: 1em;
}

        /*Second Part*/
.second-part-info {
  position: relative;
  width: 90%;
  height: auto;
  text-align: center;
}

.services-list {
  list-style: none;
  font-size: 1.3rem;
  color: #9da0a5;
}

.services-item {
  display: inline-block;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

      /*Price Section*/
.info-price {
  width: 100%;
  height: auto;
}

        /*First Part*/
.part-price {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: transparent;
}

.part-price > span {
  display: inline-block;
  color: #000;
  font-family: 'Varela Round', sans-serif;
}

.main-subtext-price {
  font-size: 1.7rem;
  margin-right: 0.5em;
}

.main-subtext-2-price {
  font-size: 1.3rem;
}

        /*Second Part*/
.part-add {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: transparent;
}

.add {
  position: relative;
  width: 100%;
  height: auto;
}

.add > button {
  display: inline-block;
  width: 47%;
  height: 3em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  margin-bottom: 0.5em;
  
  background-color: #600505;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
  font-size: 1rem;
}

.add > button:hover {
  color: #b0b4ba;
}

      /* Gallery Part */
.galeria {
  width: 100%;
  margin: auto;
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.galeria img {
  width: 0;
  height: 0;
}

.modal {
  display: none;
}

.modal:target {
  display: block;
  position: fixed;
  background: rgba(0,0,0,0.95);
  top: 0;
  left: 0;
  padding-top: 100px;
  width: 100%;
  height: 100%;
}

.imagen {
  width: 100%;
  height: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen a {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  margin: 0 10px;
}

.imagen a:nth-child(2) {
  margin: 0;
  height: 100%;
  flex-shrink: 2;
}

.imagen img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border: 2px solid #fff;
  box-sizing: border-box;
}

.cerrar {
  display: block;
  width: 25px;
  height: 25px;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  padding: 0;
  border-radius: 50%;
  line-height: 25px;
}

/* End of CONTAINER-ROOMS  styles */

/****************************************************************************************************************************************************/
/****************************************************************************************************************************************************/

@media screen and (min-width: 480px) {
  .check-date {
    padding-left: 20%;
  }
  
  /*Botón de reservar*/
  .datepicker-btn > input {
    width: 35%;
  }
  
  /*Imagen*/
  .room-img {
    width: 75%;
  }
  
  /*Información*/
  .info-main {
    width: 45%;
    left: 8%;
    transform: translate(0, 0);
  }
  
  /*Precio*/
  .info-price {
    width: 40%;
    left: 7%;
  }
  
  .part-price > span {
    display: block;
  }
  
  .main-subtext-price {
    margin-bottom: 0.2em;
  }
  
  .add > input {
    display: block;
    width: 80%;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }
  
  /*Carrusel*/
  .modal:target {
    padding-top: 20px;
  }
  
  .imagen {
    height: 85%;
  }
}

/****************************************************************************************************************************************************/
/****************************************************************************************************************************************************/

@media screen and (min-width: 600px) {
  /*Imagen*/
  .room-img {
    width: 75%;
    height: 230px;
  }
}

/****************************************************************************************************************************************************/
/****************************************************************************************************************************************************/

/* Pantallas grandes Horizontal y Vertical */
@media screen and (min-width: 800px) {
  /*Navbar*/
  .navbar-list {
    margin-left: 2em;
  }
  
  .navbar-item {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  
  .navbar-link {
    display: block;
    height: 0;
  }
  
  .navbar-link-cel {
    display: none;
  }
  
  /*Reservar*/
  .box-text-main {
    width: 95%;
    padding: 0.5em 0em 0.5em 2em;
  }
  
  .box-text-main > span {
    font-size: 1.25rem;
  }
  
  .box-datepicker {
    width: 95%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .datepicker-general {
    display: inline-block;
    width: 32%;
    margin-top: 10px;
    margin-bottom: 5em;
  }
  
  .datepicker-counter {
    position: absolute;
    top: 7%;
    left: 66%;
  }
  
  .box-counter {
    width: 45%;
  }
  
  .datepicker-btn {
    position: absolute;
    width: 30%;
    top: 6em;
    left: 48%;
    transform: translate(-50%, 0);
  }
  
  .datepicker-btn > input {
    width: 90%;
  }
  
  /*Container room*/
  .rooms-general {
    width: 95%;
    height: 260px;
    margin-bottom: 1em;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .info-img {
    position: absolute;
    width: 33%;
  }
  
  .room-img {
    width: 100%;
  }
  
  .info-main {
    position: absolute;
    width: 37%;
    margin-top: 3%;
    left: 37%;
  }
  
  .services-list {
    font-size: 1.5rem;
    border-top: 1px solid #b0b4ba;
  }
  
  .info-price {
    position: absolute;
    width: 30%;
    margin-top: 3%;
    left: 70%;
  }
  
  /*Carrusel*/
  .modal:target {
    padding-top: 130px;
  }
  
  .imagen {
    height: 80%;
  }
}

/****************************************************************************************************************************************************/
/****************************************************************************************************************************************************/

/* Pantallas grandes Horizontal y Vertical */
@media screen and (min-width: 1000px) {
  /*Navbar*/
  .navbar-list {
    margin-left: 3em;
  }
  
  .navbar-item {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
  /*Reservar*/
  .box-text-main {
    width: 75%;
    padding: 2em 0em 0.5em 2em;
  }
  
  .box-text-main > span {
    font-size: 1.4rem;
  }
  
  .box-datepicker {
    width: 75%;
  }
  
  .datepicker-btn {
    width: 25%;
  }
  
  /*Container room*/
  .rooms-general {
    width: 75%;
  }
  
  .info-main {
    margin-top: 1%;
  }
  
  .ir_page-title {
    font-size: 1.35rem;
  }
  
  .services-list {
    font-size: 1.8rem;
    padding-top: 0.3em;
  }
  
  .info-price {
    margin-top: 1%;
  }
  
  .main-subtext-price {
    font-size: 2.7rem;
    margin-bottom: 0;
  }
  
  .main-subtext-2-price {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
  }
  
  .add > input {
    width: 70%;
  }
  
  /*Carrusel*/
  .modal:target {
    padding-top: 130px;
  }
  
  .imagen {
    height: 80%;
  }
}
