/* To use fonts in font-family:
- 'Sintony', sans-serif;
- 'Source Sans Pro', sans-serif;
*/

/* GENERALS */
html {
    height: 100%;
}
body {
    font: normal normal normal 14px/1.2em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    background-color: rgb(58, 4, 4);
    height: 100%;
}
input {
  text-align: center;
}

  /* Colors */
.hm_primary-color {
    background-color: rgb(96, 5, 5);
}
.hm_secondary-color {
    background-color: rgb(58, 4, 4);
}
/* End of GENERALS */

/* Styles for NAVBAR section */
.hm_navbar {
    padding-left: 50%;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
}
.hm_navbar-list {
    transform: translate(-50%, 0);
}
.hm_navbar-item {
    margin-left: 1.1em;
    margin-right: 1.1em;
}
/* End of NAVBAR styling */

/* Styles for CONTENT section */
.text {
    height: 50%;
    background-color: bisque;
}
.img {
    width: 50%;
    height: 100%;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.home-img {
    background-image: url(../images/image-1.jpg);
}
.rooms-img {
    background-image: url(../images/image-2.jpg);
}
.see-img {
    background-image: url(../images/image-3.jpg);
}
/* End of CONTENT styling */

/* Styles for ROOMS section */
.rooms-body{
  padding-top: 10%;
  height: 100%;
  background-color: #F2EFE9;
}
/* End of ROOMS styling */
