/* GENERALS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font: normal normal normal 14px/1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height: 100%;
}

/* End of GENERALS styles */

/* NAVBAR styles */
.navbar {
  width: 100%;
  height: auto;
  background-color: #380000;
  z-index: 100;
}

.navbar-list {
  display: inline-block;
  width: auto;
  list-style: none;
  margin-left: 3em;
  background-color: transparent;
}

.navbar-item {
  display: inline-block;
  margin: 1.5em 1em;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  background-color: transparent;
  text-transform: uppercase;
}

.hm-btn-back {
  margin-right: 35em;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
}

.navbar-link:hover {
  color: #b0b4ba;  
}

/* End of NAVBAR styling */

/* CONTAINER-DATEPICKER styles */
.container-reservar {
  width: 100%;
  height: auto;
  padding-top: 2em;
  background-color: transparent;
}

.box-text-main {
  position: relative;
  width: 70%;
  height: auto;
  padding: 1em 0em 0.5em 2em;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: transparent;
  border-bottom: 0.2px solid #b0b4ba;
}

.box-text-main > span {
  color: #000;
  font-family: 'Varela Round', sans-serif;
  font-size: 22px;
  font-weight: 200;
  text-transform: capitalize;
}

.box-datepicker {
  position: relative;
  width: 70%;
  height: auto;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: transparent;
  border-bottom: 0.2px solid #b0b4ba;
}

.datepicker-general {
  display: inline-block;
  width: 25%;
  height: auto;
  background-color: transparent;
}

.datepicker-general > span {
  display: block;
  color: #000;
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
}

.check-date {
  width: 80%;
  height: 45px;
  padding-left: 1em;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 2px;
  
  color: #000;
  font-family: 'Varela Round', sans-serif;
}

.box-counter {
  display: inline-block;
  width: 45%;
  height: auto;
}

#clicks-hs {
  margin-left: 1em;
}

#clicks-hd {
  margin-left: 1em;
}

#clicks-hdl {
  margin-left: 1em;
}

#clicks-hf {
  margin-left: 1em;
}

.box-counter > span {
  color: #000;
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
}

.datepicker-btn {
  border: none;
  width: 20%;
}

.datepicker-btn > input {
  width: 80%;
  height: 100%;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  margin-bottom: 0.5em;
  margin-left: 50%;
  transform: translate(-50%, 0);
  background-color: #b0b4ba;
  border: 0;
  border-radius: 3px;
  
  color: #222;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
}

.datepicker-btn > input:hover {
  background-color: #600505;
  color: #fff;
}

/* End of CONTAINER-DATEPICKER styles */

/* CONTAINER-ROOMS  styles */
.container-rooms {
  width: 100%;
  height: auto;
  margin-bottom: 5em;
  background-color: transparent;
}

  /*General Style*/
.rooms-general {
  position: relative;
  width: 70%;
  height: auto;
  padding-top: 1.1em;
  padding-bottom: 1.1em;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: transparent;
  border-bottom: 0.2px solid #b0b4ba;
}

    /*Information Part*/
.room-info {
  position: relative;
  display: inline-block;
  height: 240px;
  background-color: transparent;
}

      /*Image Section*/
.info-img {
  width: 30%;
}

.room-img {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 1px;
}

      /*Info Section*/
.info-main {
  width: 45%;
  color: #000;
  font-family: 'Varela Round', sans-serif;
}

        /*First Part*/
.first-part-info {
  position: absolute;
  width: 100%;
  height: 70%;
  background-color: transparent;
}

.first-part-info > span {
  display: block;
}

.main-text-info {
  font-size: 20px;
  margin-top: 1em;
  margin-bottom: 0.7em;
}

.main-subtext-info {
  font-size: 12px;
  margin-bottom: 2em;
}

.main-list {
  font-size: 12px;
}

        /*Second Part*/
.second-part-info {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 70%;
  padding-top: 1.2em;
  background-color: transparent;
  border-top: 1px solid #b0b4ba;
}

.services-list {
  list-style: none;
  font-size: 25px;
  color: #9da0a5;
}

.services-item {
  display: inline-block;
  margin-right: 0.3em;
}

      /*Price Section*/
.info-price {
  width: 23.5%;
  background-color: transparent;
}

        /*First Part*/
.part-price {
  position: absolute;
  width: 100%;
  height: 60%;
  text-align: center;
  background-color: transparent;
}

.part-price > span {
  display: block;
  color: #000;
  font-family: 'Varela Round', sans-serif;
}

.main-text-price {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 12px;
}

.main-subtext-price {
  font-size: 38px;
  letter-spacing: -2px;
}

.main-subtext-2-price {
  font-size: 25px;
}

        /*Second Part*/
.part-add {
  position: absolute;
  width: 100%;
  height: 25%;
  top: 60%;
  text-align: center;
  background-color: transparent;
}

.add {
  position: relative;
  width: 70%;
  height: auto;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.add > input {
  width: 100%;
  height: 100%;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  margin-bottom: 0.5em;
  
  background-color: #600505;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
}

/* End of CONTAINER-ROOMS  styles */