/* GENERALS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font: normal normal normal 14px/1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height: 100%;
}
/* End of GENERALS styling */

/* NAVBAR styles */
.navbar {
  position: fixed;
  width: 100%;
  height: auto;
  background-color: #380000;
  z-index: 100;
}

.navbar_link {
  text-decoration: none;
}

.navbar_box-back {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 1.1em;
  margin-left: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  
  background-color: transparent;
}

.navbar_box-back > span {
  color: #fff;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

/* End of NAVBAR styles */

/* CONTENT styles */
.content-section {
  position: absolute;
  text-align: center;
  width: 100%;
  height: auto;
  top: 5.5em;
  background-color: red;
}

  /* Right Part */
.right-part {
  position: relative;
  display: inline-block;
  width: 49%;
  height: 500px;
  background-color: black;
}

  /* Left Part */
.left-part {
  position: relative;
  display: inline-block;
  width: 49%;
  height: 500px;
  background-color: yellow;
}

/* End of CONTENT styles */