/* Styles for ROOMS section */

.hm_container {
  margin-top: 5.1em;
  width: 80%;
  height: 40%;
}

.rooms-body{
  padding-top: 10%;
  height: 100%;
  background-color: #F2EFE9;
}

.text-2 {
  font-size: 1.9em;
  color: #242323 !important;
}

.sml-date {
  width: 14%;
}

/* End of ROOMS styling */
